/* .titoli
{
    display: flexbox;
    display: -webkit-flex;
    justify-content: start;
    border-bottom: 5px solid black;
    width:600px;
    text-align: center;
    font-size: xx-large;
    color: black;
    background-color: white;
} */
.divRow
{
   display:table-row;
   width:auto;
}

.spazio
{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    margin-top: 5px;
}
input[type=text],[type=password]
{
    /* position: relative; */
    margin-top: 8%;
    font-size: x-large;
    margin-left: 5px;
    outline: none;
    width:92%;
    padding: 10px;
    justify-content: center;
    color: black;
    background-color: white;
    border: none;
    border-bottom: 3px solid black;
    transition: all 0.3s ease;
}
input[type=text]:focus,input[type=password]:focus
{
    border-bottom: 3px solid rgba(0,104,255,1);
}
input[type=text]:hover,input[type=password]:hover
{
    width: 95%;
    padding: 12px;
    border-bottom: 3px solid rgba(0,104,255,1);
}

#error
{
    border-bottom: 3px solid red;
}
#error:focus
{
    border-bottom: 3px solid rgba(0,104,255,1);
}

.btnGo
{
    display: -webkit-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    outline: none;
    background-color: white;
    font-size: large;
    padding: 8px 62px;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    transition: all 0.8s ease;
}
.btnGo:hover
{
    justify-content: center;
    text-align: center;
    color: rgba(0,104,255,1);
    border: 2px solid rgba(0,104,255,1);
    padding: 8px 200px;
}